body>form {
  padding: 15px;
}
textarea{
  border-radius: 20px;
  height: 100px;
  width: 100%;
  outline:none;
}
.post{
    color: white;
}
span{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.post-content{
  color: white;
  size: 20px;
}
.post-header{
  text-align: left;
}
.hidden{
  display: none;
}
